cycler==0.10.0
Cython==0.29.16
kiwisolver==1.2.0
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
Pillow==8.2.0
pkg-resources==0.0.0
pycocoevalcap==1.1
pycocotools==2.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.45.0
